.exercise-grid {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: 25% 15% 30% 30%;
  padding: 0 40px;

  align-items: center;
  font-size: 32px;
}

.exercise-weight {
  text-align: right;
}

.exercise-since {
  text-align: right;
}

.exercise-add {
  text-align: right;
}

.exercise-add-container {
  display: flex;
  align-items: center;
}

.weight-input {
  text-align: right;
}

.exercise-add-container > * {
  flex: 1;
  text-align: right;
}

.button {
  transition-duration: 200ms;

  cursor: pointer;
}
.button:hover {
  color: grey;
}
.button:active {
  transform: scale(0.96);
}

input {
  border: none;
  border-bottom: solid 5px black;
  background: none;
  font-family: Oswald, sans-serif;
  font-size: 32px;
}
input:focus {
  outline: none;
}